<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.NoteMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.Note">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="ctime" jdbcType="VARCHAR" property="ctime" />
    <result column="note" jdbcType="VARCHAR" property="note" />
    <result column="nextid" jdbcType="VARCHAR" property="nextid" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
  </resultMap>
</mapper>